<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 변수 지정 -->
    <property name="LOG_DIR" value="/workspace/apache-tomcat-8.5.58/logs" />
    <property name="LOG_PATH_NAME" value="${LOG_DIR}/scs.log" />
    
    <!-- FILE Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_NAME}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>60</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </encoder>
    </appender>
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
		<encoder>
	    	<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
	    </encoder>
	</appender>
  
	<logger name="jdbc" level="OFF"/>
  
	<logger name="jdbc.sqlonly" level="INFO" additivity="false">
    	<appender-ref ref="STDOUT" />
  	</logger>
  
  	<!-- <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
    	<appender-ref ref="STDOUT" />
  	</logger> 
   -->
  	<logger name="jdbc.resultsettable" level="INFO" additivity="false">
    	<appender-ref ref="STDOUT" />
  	</logger>
  
  	<springProfile name="development">
    	<!-- 
    	<root level="DEBUG">
        	<appender-ref ref="STDOUT" />      		
      	</root>
      	 -->
      	<root level="DEBUG">
        	<appender-ref ref="STDOUT" />      		
      	</root>
    </springProfile>
    <springProfile name="production">
    	<root level="DEBUG">
        	<appender-ref ref="STDOUT" />
      		<!-- <appender-ref ref="FILE" /> -->
      	</root>
    </springProfile>
    
  	
</configuration>